<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Open+Sans&family=Roboto+Mono:ital,wght@0,200;0,400;1,100;1,200&display=swap');
    </style>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
